/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
=================================================
  GRID
=================================================
*/
/*=========================
 Card
 =========================*/
/*===============================
Button
==============================*/
/*
=================================================
  BODY
=================================================
*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #f4f2ed;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

/*
=================================================
  BUTTON
=================================================
*/
.btn {
  font-family: Helvetica;
  border: 0;
  border-radius: 100px;
}
.btn :hover {
  cursor: pointer;
}

.btn-transparent {
  border: 1px solid #ccc;
  padding: 5px 14px;
  background: none;
  color: #000;
}

.btn-primary {
  font-size: 18px;
  line-height: 1.33;
  color: #fff;
  background-color: #449d44;
  transition: all 0.3s;
  padding: 14px 30px;
}
.btn-primary :hover {
  background-color: #398439;
}

/*
=================================================
  NAVBAR
=================================================
*/
.nav-row {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2em;
  align-items: center;
}
.nav-row h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}
@media screen and (max-width: 1080px) {
  .nav-row {
    max-width: 750px;
    margin: 0 auto;
    justify-content: start;
  }
  .nav-row .col-nav:last-child {
    margin-left: auto;
  }
}
@media screen and (max-width: 768px) {
  .nav-row {
    justify-content: center;
  }
  .nav-row .col-nav-middle, .nav-row .col-nav:last-child {
    display: none;
  }
}

.nav-link-row {
  display: flex;
  flex-wrap: wrap;
  width: 30em;
  justify-content: space-evenly;
}
.nav-link-row a {
  text-decoration: none;
  color: #000;
}
.nav-link-row a:visited {
  color: black;
}

.full-col {
  width: 99.96%;
  padding: 5rem 0;
  text-align: center;
  margin-bottom: 3rem;
}
.full-col h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-weight: 200;
}
.full-col h5 {
  margin-bottom: 2rem;
  opacity: 0.7;
}
@media screen and (max-width: 990px) {
  .full-col h2 {
    font-size: 1.5rem;
  }
}

/*
=================================================
  MAIN
=================================================
*/
.main-row {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1080px) {
  .main-row {
    max-width: 750px;
    margin: 0 auto;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 33.32%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1.5rem;
}
.col .card {
  border: 1px solid rgba(151, 151, 151, 0.1);
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.3);
}
.col .card img {
  width: 100%;
  height: auto;
}
.col .card .card-body {
  font-size: 1em;
  text-align: center;
  padding: 1em;
}
.col .card .card-body p {
  line-height: 2;
  opacity: 0.7;
  padding-bottom: 2.5em;
}
.col .card .card-body .card-title {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.col .card .card-body .card-link {
  border-top: 0.1em solid rgba(151, 151, 151, 0.1);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.col .card .card-body .card-link a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .col {
    width: 99.96%;
  }
}

/*
=================================================
  FOOTER
=================================================
*/
.footer-row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 6em;
  padding-bottom: 2em;
  font-size: 0.8rem;
}
@media screen and (max-width: 1080px) {
  .footer-row {
    max-width: 750px;
    margin: 0 auto;
  }
  .footer-row .footer-nav ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .footer-row {
    padding-left: 1rem;
  }
}
.footer-row .copyright {
  width: 41.65%;
}
@media screen and (max-width: 768px) {
  .footer-row .copyright {
    width: 99.96%;
  }
}
.footer-row .footer-nav {
  width: 58.31%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.footer-row .footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
  justify-content: space-between;
}
.footer-row .footer-nav ul li {
  padding-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .footer-row .footer-nav {
    width: 99.96%;
  }
  .footer-row .footer-nav ul {
    padding-top: 1rem;
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
