@import "../../framework/main.scss";

/*
=================================================
  BODY
=================================================
*/
.container {
  @include container(1080px);
}

.btn {
  padding: 1rem;
}


/*
=================================================
  NAVBAR
=================================================
*/

.nav-row {
  @include container(1080px);
  @include grid-row;
  justify-content: space-between;
}

.nav-link-row {
  @include grid-row;
  width: 30em;
  justify-content: space-evenly;
}

/*
=================================================
  MAIN
=================================================
*/

.main-row {
  @include container(1080px);
  @include grid-row;
}

.full-col {
  @include grid-unit(12);
  padding: 5rem;
  text-align: center;


  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  h5 {
    margin-bottom: 2rem;
  }

}

.row {
  @include grid-row;
}

.col {
  @include grid-unit(4);
  @include grid-gutter(2%);
  .card {
    @include card;
  }
}

/*
=================================================
  FOOTER
=================================================
*/

.footer-row {
  @include grid-row;
  @include container(1080px);

  .copyright {
    @include grid-unit(5);
  }

  .footer-nav {
    @include grid-unit(7);
    @include grid-row;
    justify-content: flex-end;

    ul {
      @include grid-row;
      width: 25rem;
      justify-content: space-between;

      li {
        
      }
    }


  }


}

